@font-face {
  font-family: "iconfont"; /* Project id 2814559 */
  src: url('iconfont.woff2?t=1632474036653') format('woff2'),
       url('iconfont.woff?t=1632474036653') format('woff'),
       url('iconfont.ttf?t=1632474036653') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai1:before {
  content: "\e611";
}

.icon-gengduo:before {
  content: "\e60a";
}

.icon-suoxiao1:before {
  content: "\e60b";
}

.icon-guanbi1:before {
  content: "\e60c";
}

.icon-xiazai:before {
  content: "\e60d";
}

.icon-fangda1:before {
  content: "\e60e";
}

.icon-xuanzhuan1:before {
  content: "\e60f";
}

.icon-xuanzhuan2:before {
  content: "\e610";
}

.icon-quanbu:before {
  content: "\e602";
}

.icon-daodeguifanli:before {
  content: "\e603";
}

.icon-renshilijie:before {
  content: "\e604";
}

.icon-gaojiechuangxinli:before {
  content: "\e605";
}

.icon-goutongbiaodali:before {
  content: "\e606";
}

.icon-yingyonghangdongli:before {
  content: "\e607";
}

.icon-shenmeijianshangli:before {
  content: "\e608";
}

.icon-xiezuolingdaoli:before {
  content: "\e609";
}

